
<div class="nav navbar1">
  <div>
    <h3 class="logo">Office Dashboard | DEMO version</h3>
  </div>
  <div>
    <p class="greeting">Welcome, <strong><%= user.name %></strong></p>
  </div>
  <div class="linkDiv">

    <a href="/mango/search" class="mango-butn link-butn-sm">Memos <i class="fas fa-sticky-note"></i> </a>
    <a href="/inv/search" class="green-butn link-butn-sm">Inventory <i class="fas fa-boxes"></i></a>
    <a href="/sales" class="prpl-butn link-butn-sm">Sales <i class="fas fa-handshake"></i></a>
    <a href="/users/logout" class="navlink logout">Logout <i class="fas fa-sign-out-alt"></i></a>

  </div>
</div>
