<div class="nav navbar2-spacebetween inv-nav">

  <div class="linkDiv">

    <h3 class="navbarTag">
      <i class="fas fa-box"></i>
      Inventory:
    </h3>

    <a href="/inv/search" class="navlink" id="searchInventory">Search Inventory <i class="fas fa-boxes"></i></a>
    <a href="/inv/add" class="navlink" id="addParts">Add Parts <i class="fas fa-plus-square"></i></a>


  </div>


</div>
