<div class="nav navbar2-flexstart mango-nav">

  <div class="linkDiv">

    <h3 class="navbarTag">
      <i class="fas fa-sticky-note"></i>
      Memos:
    </h3>
    <a href="/memos/search" class="navlink">Search <i class="fas fa-search"></i></a>
    <a href="/memos/compose" class="navlink">Compose <i class="fas fa-pencil-alt"></i></a>
    <a href="/memos/myMemos" class="navlink">My Memos <i class="fas fa-user-edit"></i></a>
    <a href="/memos/home" class="navlink">All Memos <i class="fas fa-list-ul"></i></a>
    <a a href="#" class="navlink" onclick="showCats()">Categories <i class="fas fa-caret-right"></i></a>
  </div>
  <div class="categories">
    <a href="/memos/pages/General" class="navlink">General</a>
    <a href="/memos/pages/Employees" class="navlink">Employees</a>
    <a href="/memos/pages/Licensing" class="navlink">Licensing</a>
  </div>

</div>
