<div class="nav navbar2-flexstart sales-nav">

  <div class="linkDiv">

    <h3 class="navbarTag">
      <i class="fas fa-sticky-note"></i>
      Sales Reps:
    </h3>
    <a href="/sales/home" class="navlink">Search <i class="fas fa-search"></i></a>
    <a href="/sales/update" class="navlink">Update <i class="fas fa-user-edit"></i></a>
  </div>

</div>
