

<select class="form-class" name="siteCode" id="siteCode" required>
  <option value="">Please select a site</option>
  <option value="BEIJ"> China - Beijing </option>
  <option value="CHEN"> China - Chengdu </option>
  <option value="SHAN"> China - Shanghai </option>
  <option value="PARI"> France - Paris </option>
  <option value="FRAN"> Germany - Frankfurt </option>
  <option value="ROME"> Italy - Rome </option>
  <option value="HOKK"> Japan - Hokkaido </option>
  <option value="NAGO"> Japan - Nagoya </option>
  <option value="TOKY"> Japan - Tokyo </option>
  <option value="LOND"> UK - London </option>
  <option value="AUST"> US - Austin </option>
  <option value="SANF"> US - San Francisco </option>
  <option value="NEWY"> US - New York </option>
</select>
