

<label for="itemNum">Warehouse Location: </label>
<select class="form-class" name="wareCountry" required>
  <option value="">Please select</option>
  <option value="all">All warehouse locations</option>
  <option value="China"> China </option>
  <option value="France"> France </option>
  <option value="Germany"> Germany </option>
  <option value="Italy"> Italy </option>
  <option value="Japan"> Japan </option>
  <option value="United Kingdom"> United Kingdom </option>
  <option value="United States"> United States </option>
</select>
