

<div class="background">

  <div class="child bigchild blu-child">
    <h1 class="logo">Welcome, <strong><%= user.name %></strong></h1>
    <br>

    <a href="/mango/search" class="mango-butn link-butn">
      <i class="fas fa-sticky-note"></i>
      Memos
    </a>

    <br>

    <a href="/inv/search" class="green-butn link-butn">
      <i class="fas fa-box"></i>
      Inventory
    </a>

    <br>

    <a href="/sales" class="prpl-butn link-butn">
      <i class="fas fa-handshake"></i>
      Sales
    </a>


  </div>

</div>
