
<div class="background">

  <div class="child sm-child blu-child">

    <h1 class="logo welcome">Office Dashboard </h1>
    <p class="logo welcome">DEMO version</p>
    <h1><i class="fas fa-laptop"></i></h1>

    <a href="/users/register" class="blue-butn link-butn">Register</a>
    <a href="/users/login" class="blue-butn link-butn">Login</a>

  </div>

</div>
