<%- include('../partials/header') %>
<%- include('../partials/sales-nav') %>

  <div class="titleDiv">
    <h2 class="subtitle sub-purp">
      Sales Agent Search Results
    </h2>
  </div>

  <div class="parent login-parent">
    <div class="child lg-child purp-child">

      <%- include('../partials/messages') %>

      <h2> <%= messageString %> </h2>

      <a href="/sales/home" class="link-butn prpl-butn">Search Again</a>

    </div>


  </div>
