<%- include('../partials/header') %>

  <div class="titleDiv">
    <h1 class="logo title title-purp">
      Sales Rep Lookup
    </h1>
  </div>
  <div class="titleDiv">
    <h2 class="logo subtitle sub-purp">
      Search Results
    </h2>
  </div>

  <div class="parent login-parent">
    <div class="child lg-child purp-child">

      <%- include('../partials/messages') %>

      <h2> <%= contactString %> </h2>

      <a href="/sales" class="link-butn prpl-butn">Search Again</a>

    </div>


  </div>
